.main-user {
    color: #f2f2f2;
}
.user {
    background: #00897b;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user > label {
    font-size: 1.8em;
    font-weight: 700;
    width: 55%;
}

.logo {
    width: 35%;
    text-align: center;
    font-family: fantasy;
    font-size: 2.5em;
}